/* Main Containers */

body {
    background-color: #fee1d3;
}

.wrapper.blackjack {
    margin: 4vh 5% 0 5%;
    position: relative;
    width: 90%;
    height: 100%;
    overflow: hidden;
    min-height: 72vh;
    padding-bottom: 15vh;
    display: block;
}

.wrapper.blackjack section.white {
    margin: 0;
    width: 100%;
}

.wrapper.blackjack section.white.title {
    height: 7vh;
    overflow: visible;
    /* Where "BlackJack" and balance are displayed */
} .wrapper.blackjack section.white.title div.text {
    height: 100%;
}

.wrapper.blackjack section.dealer {
    padding-top: 0vh;
} .wrapper.blackjack section.player {
    padding-bottom: 6vh;
}

.wrapper.blackjack section.white div.text h2 {
    padding: 0;
    margin: 0;
    width: fit-content;
    display: block;
    float: left;
    line-height: 40px;
    font-size: 25px;
    color: rgb(255, 128, 128);
    padding: 0 12px;
    background-color: white;
    border-radius: 20px;
} .wrapper.blackjack section.white div.text div#balance {
    display: block;
    width: fit-content;
    padding: 0 15px;
    margin: 0;
    float: right;
    line-height: 40px;
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
    font-weight: 500;
} .wrapper.blackjack section.white div.text div#balance.red {
    color: rgb(233, 0, 0);
} .wrapper.blackjack section.white div.text div#balance.green {
    color: rgb(0, 189, 0);
}

/* Animations */

.fade-right {
    position:relative;
    animation:faderight 0.75s
} @keyframes faderight{
    from{right:-100px;opacity:0} 
    to{right:0;opacity:1}
}

.fade-top {
    position:relative;
    animation:animatetop 0.75s
} @keyframes animatetop {
    from{top:-100px;opacity:0} 
    to{top:0;opacity:1}
}

.fade-out-left {
    position: relative;
    animation: fadeoutleft 0.5s
} @keyframes fadeoutleft {
    from{left:0;opacity:1} 
    to{left:-50px;opacity:0}
}

.fade-left {
    position:relative;
    animation:fadeleft 0.5s
} @keyframes fadeleft{
    from{left:-50px;opacity:0} 
    to{left:0;opacity:1}
}

.zoom-in {
    animation: zoomin 0.4s;
} @keyframes zoomin {
    from{transform: scale(0.1);} 
    to{transform: scale(1);}
}

/* Player and Dealer Hands (Where the cards are displayed) */

.wrapper.blackjack div.hand {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    transition: width 0.5s;
    white-space: nowrap;
    line-height: 0;
} .wrapper.blackjack div#dealer_hand {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper.blackjack div.hand_container {
    min-height: 23.5vh;
    position: relative;
}

.wrapper.blackjack #card {
    width: 69px;
    margin: 0 -23px 0 0;
    padding: 0;
    box-sizing:border-box;
    outline: 0px;
}

/* Player and Dealer totals (Where the hand values are displayed) */

.wrapper.blackjack section.white.totals {
    height: 14vh;
} 

.wrapper.blackjack section.white.totals div#game_over {
    /* This is the styling and animation for displaying the round's winner */
    font-size: 35px;
    text-align: center;
    height: 14vh;
    line-height: 14vh;
    font-weight: 500;
}

.wrapper.blackjack div.total {
    width: fit-content;
    text-align: center;
    height: 7vh;
    line-height: 7vh;
    font-size: 20px;
    z-index: 100;
}

/* Player controls and displayed game information */

.wrapper.blackjack section.controls {
    margin: 0;
    width: 100%;
    overflow: visible;
} .wrapper.blackjack .controls .form {
    display: flex;
    height: 7vh;
    justify-content: space-between;
}

.wrapper.blackjack div.message_container {
    position: absolute;
    width: 100%;
    top: -5vh;
    display: none;
}

.wrapper.blackjack div p#error {
    color: black;
    width: 100%;
    padding: 0;
    text-align: center;
    animation: zoomin 0.2s;
}

.wrapper.blackjack form .button {
    /* Base styling for all buttons */
    background-color: rgb(255, 90, 90);
    border: none;
    border-radius: 15px;
    color: white;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    margin: 0;
    width: 22%;
    min-width: fit-content;
    height: 7vh;
} .wrapper.blackjack form .button:disabled {
    background-color: rgb(255, 90, 90,0.5);
} .wrapper.blackjack form .button:hover:enabled {
    background-color: rgb(255, 90, 90);
} .wrapper.blackjack form #wager_input:focus, .wrapper.blackjack form .button:focus {
    outline: none;
}

.wrapper.blackjack form #place_bet {
    width: 45%;
} 

.wrapper.blackjack form #wager_input {
    box-sizing: border-box;
    border-radius: 15px;
    background-color: white;
    border: black solid 2px;
    color: rgb(12, 12, 12);
    font-family: 'Rubik', sans-serif;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    margin: 0;
    width: 50%;
    height: 7vh;
} .wrapper.blackjack form #wager_input::placeholder {
    font-size: 20px;
}

.wrapper.blackjack form #new_round {
    width: 100%;
}

/* Footer is disabled below 1000px screen width  */

.footer {
    display: block;
}

nav.header {
    display: none;
}

/* Media queries */


@media only screen and (min-width:500px) {
    .wrapper.blackjack {
        margin: 4vh auto 0 auto;
        max-width: 500px;
    }
}

@media only screen and (min-height:800px), (min-width:1000px) {
    .footer {
        display: block;
    }

    nav.header {
        display: block;
    }

    .wrapper.blackjack {
        margin: 14vh auto;
        padding-bottom: 14vh;
    }

    .wrapper.blackjack div.hand_container {
        min-height: 20vh;
        position: relative;
    }

    .wrapper.blackjack section.player {
        padding-bottom: 4vh;
    }
}