* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

.header {
    background-color: rgb(34, 34, 34);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    height: 10vh;
    width: 100%;
    z-index: 3;
    top: 0;
}

.header .header-brand {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: white;
    display: table-cell;
    float: left;
    line-height: 4vh;
    padding: 3vh;
}

.header ul {
    list-style: none;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
    height: fit-content;
}

.header ul a {
    display: block;
    height: 10vh;
    line-height: 10vh;
    color: white;
    font-size: 25px;
}

.header ul a:hover {
    background-color: rgb(44, 44, 44);
}

.header .menu {
    clear:both;
    max-height: 0;
    text-align: center;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    position: relative;
    float: right;
    cursor: pointer;
    height: 10vh;
    width: 10vh;
}

.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 2.5px;
    width: 26px;
    position: relative;
    transition: background .2s ease-out;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header .menu-icon .nav-icon:before {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 8px;
}

.header .menu-icon .nav-icon:after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -8px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0px;
}

.wrapper {
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    top: 10vh;
    width: 90%;
}

.wrapper section {
    background-color:rgb(27, 27, 27);
    display: block;
    width: 96%;
    height: fit-content;
    background-clip: content-box;
    border-radius: 25px;
    margin: 2%;
    position: relative;
    overflow: hidden;
    float: left;
}


.wrapper section h2 {
    color: white;
    padding: 20px 20px 10px 20px;
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
    margin: 0;
}

.wrapper section p {
    color: white;
    padding: 0 20px 20px 20px;
    font-size: 16px;
    font-weight: 400;
    width: fit-content;
    margin: 0;
}

.wrapper section.download h2 {
    color: rgb(80, 235, 255);
    padding: 10px 0 5px 0;
    margin: 0;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 23px;
}

.wrapper section.download {
    padding: 0;
    margin: 0 10% 20px 10%;
    display: block;
    position: relative;
    width: 80%;
    background-color: rgb(48, 48, 48);
}

.wrapper section.download div {
    display: block;
    float: left;
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper section.download div a {
    background-color: rgb(207, 245, 255);
    border: none;
    display: block;
    float: left;
    width: 45%;
    margin: 10px 2.5% 10px 2.5%;
    border-radius: 25px;
    color: rgb(32, 32, 32);
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0 15px 0;
    font-weight: 500;
}


@media only screen and (min-width:800px) {
    .header li {
        float: left;
    }
    
    .header li a {
        padding: 0px 2vw;
        font-size: 20px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    
    .header .menu-icon {
        display: none;
    }

    .wrapper section {
        width: 97%;
        margin: 1.5%;
        
    }

    .wrapper section h2 {
        color: white;
        padding: 20px 20px 10px 20px;
        font-size: 40px;
    }
    
    .wrapper section p {
        color: white;
        padding: 0 20px 20px 20px;
        font-size: 20px;
    }

    .wrapper section.download {
        width: 350px;
        margin: 0 2.5% 20px 2.5%;
    }

    .wrapper section.download h2 {
        font-size: 28px;
    }

    .wrapper section.download div a {
        font-size: 20px;
    }

}

@media only screen and (min-width:500px) {

}







