/* Main Containers */
* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}

html {
    min-height: 100%;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    background-color:white;
    font-family: 'Rubik', sans-serif;
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.wrapper {
    margin: 14vh 2.5% 0 2.5%;
    position: relative;
    width: 95%;
    height: 100%;
    overflow: hidden;
    min-height: 72vh;
    padding-bottom: 14vh;
    display: block;
}

/* Navigation Header */

.header {
    background-color: rgb(34, 34, 34);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    height: 10vh;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
}

.header .header-brand {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: white;
    display: table-cell;
    float: left;
    line-height: 4vh;
    padding: 3vh 20px 3vh 3vh;
    -webkit-tap-highlight-color: transparent;
}

.header .short-text {
    display: none;
}

.header ul {
    list-style: none;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
    height: fit-content;
}

.header ul a {
    display: block;
    height: 10vh;
    line-height: 10vh;
    color: white;
    font-size: 25px;
    -webkit-tap-highlight-color: transparent;
}

.header ul a:hover {
    background-color: rgb(44, 44, 44);
}

/* Navigation Header Burger */

.header .menu {
    clear:both;
    max-height: 0;
    text-align: center;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    position: relative;
    float: right;
    cursor: pointer;
    height: 10vh;
    width: 10vh;
    -webkit-tap-highlight-color: transparent;
}

.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 2.5px;
    width: 26px;
    position: relative;
    transition: background .2s ease-out;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header .menu-icon .nav-icon:before {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 8px;
}

.header .menu-icon .nav-icon:after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -8px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0px;
}

/* The Default Section Styling */

.wrapper section {
    background-color:rgb(27, 27, 27);
    display: block;
    width: 96%;
    height: fit-content;
    background-clip: content-box;
    border-radius: 25px;
    margin: 2vh 2%;
    position: relative;
    overflow: hidden;
    float: left;
}

.wrapper section h2, .wrapper section h1 {
    color: white;
    padding: 20px 20px 10px 20px;
    /* font-size: 25px; */
    font-size: calc(25px + (30 - 25) * ((100vw - 360px) / (825 - 360)));
    font-weight: 500;
    width: fit-content;
    margin: 0;
}

.wrapper section p {
    color: white;
    padding: 0 20px 20px 20px;
    /* font-size: 17px; */
    font-size: calc(17px + (19 - 17) * ((100vw - 360px) / (825 - 360)));
    font-weight: 400;
    width: fit-content;
    margin: 0;
    line-height: 1.5em;
}

/* Section styling for transparent background */

.wrapper section.white {
    background-color: transparent;
    border-radius: 0;
}

.wrapper section.white div.text h2, .wrapper section.white div.text h1, .wrapper section.white div.text p {
    color: rgb(27, 27, 27);
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;
}

.wrapper section.white.intro div.text h2 {
    padding-top: 0;
}

.wrapper section.white.intro p {
    padding-bottom: 5px;
}

/* Section styling for defualt download links */

.downloads_list {
    width: calc(100%-40px);
    padding: 0 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 15px;
    row-gap: 15px;
}

a.download {
    display: block;
    /* font-size: 17px; */
    font-size: calc(17px + (19 - 17) * ((100vw - 360px) / (825 - 360)));
    color: rgb(0, 0, 0);
    line-height: 2em;
    background-color: rgb(181, 255, 255);
    padding: 0 10px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

a.download:hover {
    background-color: rgb(255, 255, 255);
}


.wrapper a#resume {
    background-color: rgb(27, 27, 27);
    display: block;
    width: 160px;
    min-width: fit-content;
    height: 50px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 20px;
    -webkit-tap-highlight-color: transparent;
} .wrapper a#resume:active {
    content: "Currently Unavailable";
}

/* The default styling for blog posts */

.wrapper section.blog {
    background-color: transparent;
    background-image: url(images/paper.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.wrapper section.blog div {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 10px;
}

.wrapper section.blog p {
    color: rgb(27, 27, 27);
}

.wrapper section.blog h2 {
    color: rgb(27, 27, 27);
    padding: 0 0 0 20px;
}

.wrapper section.blog #date {
    line-height: 100%;
    margin: auto 0;
    padding: 0 20px 0 20px;
    text-align: center;
}

/* About Me page */

.about-me .white .text p {
    padding-bottom: 0;
}

.wrapper .hobbies {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, min-content);
    margin: 0;
    width: 100%;
}

.wrapper .hobbies h2 {
    width: 100%;
    padding: 20px 0 10px 0;
    text-align: center;
}

a.general {
    color: rgb(255, 128, 128);
}

/* Default styling for Multi-Media sections */

.wrapper section.multi {
    display: flex;
    flex-wrap: wrap;
}

.wrapper section.multi div.multi {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.wrapper section.multi img {
    padding: 15px 5% 20px 0px;
    display: block;
    width:150px;
    margin: auto;
}

.wrapper section.multi div.text {
    margin: 0;
}

.wrapper section p.subtitle {
    line-height: 1em;
    padding-right: 0;
}

.wrapper section.multi h2 {
    padding-right: 0;

}

/* Projects */

.wrapper section.projects {
    background-color: transparent;
    margin: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.wrapper section.project {
    max-width: 450px;
}


/* Anchor styling so that the section
appears in the middle of the screen */

.wrapper a#connect {
    position: absolute;
    left: 0;
    top: -18vh;
}

/* Social Media Buttons */

.wrapper div.social-btns {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 15px 1vw;
    border-radius: 50%;
}
  
.fa:hover {
      opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa.fa-instagram {
    background: #800064;
    color: white;
}

.fa-github {
    background: #1d1d1d;
    color: white;
}

/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: rgb(27, 27, 27);
}

.footer p {
    color: rgb(134, 134, 134);
    /* font-size: 16px; */
    font-size: calc(16px + (18 - 16) * ((100vw - 360px) / (825 - 360)));
    line-height: 1vh;
    width: fit-content;
    text-align: center;
    position: relative;
    margin: 0;
    float: left;
    padding: 4.5vh 4vw;
    font-weight: 400;
}

.footer a {
    color: rgb(196, 196, 196);
}


@media only screen and (min-width:825px) {
    .header li {
        float: left;
    }
    
    .header li a {
        padding: 0px 2vw;
        font-size: 20px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    
    .header .menu-icon {
        display: none;
    }

    .wrapper section h2 {
        color: white;
        padding: 20px 20px 10px 20px;
        font-size: 30px;
    }
    
    .wrapper section p {
        color: white;
        padding: 0 20px 20px 20px;
        font-size: 19px;
        font-weight: 400;
    }

    a.download {
        font-size: 19px;
    }

    .footer p, .footer h2.footer {
        font-size: 18px;
    }
}

@media only screen and (min-width:1000px) {
    .wrapper {
        margin: 14vh 10% 0 10%;
        position: relative;
        width: 80%;
        height: 100%;
        overflow: hidden;
        min-height: 72vh;
        padding-bottom: 14vh;
        display: block;
    }

    .wrapper .hobbies {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (min-width:500px) and (max-width:1000px) {
    .wrapper .hobbies {
        margin-top: 0;
    }
}
@media only screen and (max-width:950px) {
    .header .short-text {
        display: block;
    }
    .header .full-text {
        display: none;
    }
}
@media only screen and (min-width:500px) and (max-width:825px) {
    .header .short-text {
        display: none;
    }
    .header .full-text {
        display: block;
    }
}








