* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

.header {
    background-color: rgb(34, 34, 34);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    height: 10vh;
    width: 100%;
    z-index: 3;
    top: 0;
}

.header .header-brand {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: white;
    display: table-cell;
    float: left;
    line-height: 4vh;
    padding: 3vh;
}

.header ul {
    list-style: none;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
    height: fit-content;
}

.header ul a {
    display: block;
    height: 10vh;
    line-height: 10vh;
    color: white;
    font-size: 25px;
}

.header ul a:hover {
    background-color: rgb(44, 44, 44);
}

.header .menu {
    clear:both;
    max-height: 0;
    text-align: center;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    position: relative;
    float: right;
    cursor: pointer;
    height: 10vh;
    width: 10vh;
}

.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 2.5px;
    width: 26px;
    position: relative;
    transition: background .2s ease-out;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header .menu-icon .nav-icon:before {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 8px;
}

.header .menu-icon .nav-icon:after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -8px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0px;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    top: 10vh;
    width: 85%;
}

.wrapper section {
    background-color:rgb(27, 27, 27);
    display: block;
    width: 100%;
    height: 250px;
    background-clip: content-box;
    border-radius: 25px;
    margin: 30px 0 30px 0;
    position: relative;
    
}

.wrapper section h2 {
    color: white;
    padding: 20px 20px 10px 20px;
}

.wrapper section p {
    color: white;
    padding: 0 20px 20px 20px;
}

.wrapper .down {
    width: 200px;
    color: white;
    padding: 0 20px 20px 20px;
}

@media only screen and (min-width:780px) {
    .header li {
        float: left;
    }
    
    .header li a {
        padding: 0px 30px;
        font-size: 20px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    
    .header .menu-icon {
        display: none;
    }

}

@media only screen and (min-width:500px) {
    .wrapper h2 {
        text-align: left;
    }
}







