/* Main Containers */
* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}

:root {
    --main-color:#131419;
    /* #131419 */
}

html {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color:var(--main-color);
    /* background-image: url('back.jpg'); */
    font-family: 'Inter', sans-serif;
    height: 100%;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
	display: flex;
    flex-direction: column;
}

/* Navigation Header */

.header {
    background-color:var(--main-color);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    height: 10vh;
    min-width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    float: left;
}

.header .header-brand {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: white;
    display: table-cell;
    float: left;
    line-height: 4vh;
    padding: 3vh 20px 3vh 3.5vh;
    -webkit-tap-highlight-color: transparent;
}

.header .full-text {
    display: none;
}

.header ul {
    list-style: none;
    overflow: hidden;
    background-color:var(--main-color);
    height: fit-content;
}

.header ul a {
    display: block;
    height: 10vh;
    line-height: 10vh;
    color: white;
    font-size: 25px;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
}

.header ul a:hover {
    /* color: var(--main-color); */
    color: rgb(255, 79, 87);
    /* background-color: #17171C; */
}

/* Navigation Header Burger */

.header .menu {
    clear:both;
    max-height: 0;
    text-align: center;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    position: relative;
    float: right;
    cursor: pointer;
    height: 10vh;
    width: 10vh;
    -webkit-tap-highlight-color: transparent;
    padding-right: 1vw;
}

.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 2.5px;
    width: 26px;
    position: relative;
    transition: background .2s ease-out;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header .menu-icon .nav-icon:before {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 8px;
}

.header .menu-icon .nav-icon:after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -8px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0px;
}

/* Introduction */

section.intro {
    width: 85%;
    box-sizing: border-box;
    height: 90vh;
    margin-top: 10vh;
    align-items: center;
    display: flex;
    z-index: 2;
} section.intro h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    /* font-size: calc(45px + (45 - 30) * ((100vw - 360px) / (825 - 360))); */
    font-size: 45px;
    color: white;
    /* width: fit-content; */
    margin: 0;
    text-align: left;
    padding-top: 3vh;
} section.intro p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(209, 209, 209);
    width: fit-content;
    padding: 3vh 0;
    text-align: left;
    line-height: 28px;
} section.intro a {
    font-family: 'Inter', sans-serif;
    background-color: Transparent;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 30px;
    padding: 15px 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
} section.intro a:hover {
    background-color: white;
    color: var(--main-color);
}

/* Eclipse Styling */

.eclipse {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

div.eclipses {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

body img.eclipse#a {
    position: absolute;
    width: 69vh;
    top: 20.5vh;
    left: -35vh;
    /* -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .5)); */
    filter: drop-shadow( 0 0 15px rgba(0, 0, 0, .3));
} body img.eclipse#b {
    position: absolute;
    width: 69vh;
    top: 80vh;
    right: -50vh;
    filter: drop-shadow( 0 0 15px rgba(0, 0, 0, .3));
} body img.eclipse#c {
    position: absolute;
    width: 69vh;
    top: 110vh;
    left: -55vh;
    filter: drop-shadow( 0 0 15px rgba(0, 0, 0, .3));
} body img.eclipse#d {
    position: absolute;
    width: 25vh;
    top: 150vh;
    right: 2.9vh;
    filter: drop-shadow( 0 0 15px rgba(0, 0, 0, .3));
} body img.eclipse#e {
    position: absolute;
    width: 70vh;
    top: 185vh;
    right: -30vh;
    filter: drop-shadow( 0 0 15px rgba(0, 0, 0, .3));
} body img.eclipse#z {
    position: absolute;
    width: 800px;
    bottom: -400px;
    left: 50%;
    margin-left: -400px;
    align-items: center;
    filter: drop-shadow( 0 0 15px rgba(0, 0, 0, .3));
}

/* Arrow Styling */

.arrow {
    position: absolute;
    width: 2vh;
    top: 70vh;
    left: 49vw;
    padding-top: 20vh;
}

/* Default Section Styling */

section.default {
    width: 85%;
    box-sizing: border-box;
    height: fit-content;
    align-items: center;
    padding-bottom: 7vh;
    display: flex;
    z-index: 2;
    flex-wrap: wrap;
} section.default h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    /* font-size: calc(45px + (45 - 16) * ((100vw - 360px) / (825 - 360))); */
    font-size: 45px;
    color: rgb(255, 79, 87);
    margin: 0;
    text-align: left;
} section.default p {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(209, 209, 209);
    width: fit-content;
    padding: 3vh 0;
    text-align: left;
    line-height: 28px;
} section.default a.default {
    font-family: 'Inter', sans-serif;
    background-color: Transparent;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 30px;
    padding: 15px 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
} section.default a.default:hover {
    background-color: white;
    color: var(--main-color);
} section.default a.in-text {
    color: rgb(73, 236, 236);
    font-weight: 400;
}

/* Projects Section */

section.projects.default {
    padding-bottom: 10px;
}

/* Default Slate Styling */

section.slates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

div.slate {
    width: 85vw;
    /* width: 300px; */
    height: 375px;
    /* box-shadow: 1px 1px 15px 0px; */
    box-shadow: 1px 1px 20px 0 rgba(0,0,0,.7);
    margin: 25px 0 0 0;
    /* margin-top: 25px; */
    /* margin-bottom: 0; */
    position: relative;
    display: block;
    border-radius: 10px;
    background-color: var(--main-color);
} div.slate h2 {
    color: white;
    font-size: 28px;
    font-weight: 500;
    padding: 30px 20px 20px 20px;
} div.slate p {
    font-size: 16px;
    padding: 0 20px;
} div.slate p#date {
    position: absolute;
    bottom: 20px;
} div.slate a {
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    padding: 0 20px;
    font-size: 17px;
    font-weight: 600;
    color: rgb(255, 79, 87);
    display: inline-block;
} div.slate a#git {
    position: absolute;
    bottom: 20px;
} div.slate a#demo {
    position: absolute;
    bottom: 20px;
    right: 0;
}

/* Shine Effect */


/* Social Media Buttons */

section.connect.default {
    display: block;
    padding-bottom: 12vh;
} section.connect h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 15px;
}

section.connect a {
    font-size: 30px;
    padding: 20px;
    width: 30px;
    height: 30px;
    border-radius: 200px;
    text-align: center;
    margin: 10px;
} section.connect div.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.fa:hover {
    background-color: white;
    color: var(--main-color);
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #9b0079;
    color: white;
}

.fa-github {
    background: #1d1d1d;
    color: white;
}

.fa-youtube-play {
    background: #ff0000;
    color: white;
}

/* Footer */

footer {
    z-index: 3;
    height: 10vh;
    background-color: var(--main-color);
    width: 100%;
    /* display: flex; */
    /* justify-content: left; */
    overflow: hidden;
    position: absolute;
    bottom: 0;
} footer p {
    font-weight: 400;
    font-size: 15px;
    color: #D1D1D1;
    margin: 0;
    /* padding: 10px; */
    line-height: 10vh;
    text-align: center;
    box-sizing: border-box;
} footer p#git {
    float: right;
    padding-right: 5vw;
} footer p#name {
    float: left;
    padding-left: 5vw;
}

/* Short / Medium / Full Intro Text */
section.intro #full {
    display: none;
} section.intro #medium {
    display: none;
} 

/* Scrollbar and Text Selection */

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */ 
::-webkit-scrollbar-track {
    background: #616161;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 54, 54);
}

/* Text Selection */
::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgb(255, 79, 87);
}
  
::selection {
    color: white;
    background: rgb(255, 79, 87);
}

/* Making Element Un-selectable */
.header-brand, .header ul a, a.default, footer p, .arrow {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/* Making anchors center on screen */
a.anchor {
    position: relative;
    top: -12vh;
}

/* Projects Page */
body.projects section.default {
    width: 80vw;
} body.projects section.slates.default {
    padding-bottom: 15vh;
} body.projects div.slate {
    margin-top: 0;
} body.projects section.default.projects {
    padding-top: 20vh;
} body.projects section.default.projects h2 {
    color: white;
    font-size: 50px;
}

/* Resources Page */
body.resources section.default {
    width: 80vw;
} body.resources section.default.resources {
    padding-top: 20vh;
    padding-bottom: 5px;
} body.resources section.default.resources h2 {
    color: white;
    font-size: 50px;
} body.resources section.default h2 {
    font-size: 30px;
    width: 100%;
} body.resources div.download-link {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    padding: 4vh 0 15vh 0;
} body.resources div.download-link a.default {
    margin: 0;
    width: 100%;
    font-size: 18px;
    background-color: var(--main-color);
} body.resources div.download-link a.default:hover {
    background-color: white;
}

/* About Me Page */
body.about section.default {
    width: 80vw;
} body.about section.default.about {
    padding-top: 20vh;
    padding-bottom: 15vh;
} body.about section.default.about h2 {
    color: white;
    font-size: 50px;
}

/* Responsive */

@media only screen and (min-width:500px) {

    /* Slate Styling */
    section.slates {
        justify-content: flex-start;
    } div.slate {
        width: 300px;
    } 
    /* Header Brand */
    .header .full-text {
        display: block;
    } .header .short-text {
        display: none;
    }
    /* Eclipses */
    body img.eclipse#z {
        display: none;
    } 

    /* Resources Download Buttons */
    body.resources div.download-link a.default {
        width: auto;
    }
}

@media only screen and (min-width:550px) and (max-width:1150px) {
    /* Intro Section Styling */
    section.intro h1 {
        font-size: 64px;
        content: 'Lorem Ipsum Lorem Ipsum';
        padding-top: 0;
    } section.intro #medium {
        display: block;
    } section.intro #short {
        display: none;
    } section.intro {
        width: 70vw;
    }

    /* Default Section Styling */
    section.default {
        padding-bottom: 5vh;
    }

    /* Eclipses */
    body img.eclipse#a {
        position: absolute;
        width: 100vw;
        top: -15vw;
        left: -35vw;
        filter: drop-shadow( 0 0 15px rgba(0, 0, 0, .3));
    } body img.eclipse#b {
        position: absolute;
        width: 100vh;
        top: 60vh;
        right: -60vh;
        filter: drop-shadow( 0 0 15px rgba(0, 0, 0, .3));
    }
}

@media only screen and (min-width:1150px) {
    /* Navigation */
    .header {
        background-color: transparent;
        position: absolute;
        box-shadow: none;
    } .header li {
        float: left;
    } .header li a {
        padding: 0px 2vw;
        font-size: 20px;
        background-color: transparent;
    } .header .menu {
        clear: none;
        float: right;
        max-height: none;
        padding-right: 3.5vh;
    } .header .menu-icon {
        display: none;
    } .header li a:hover {
        color: rgb(255, 79, 87);
        background-color: transparent;
    } .header ul {
        background-color: transparent;
    } .header-brand:hover {
        color: rgb(255, 79, 87);
    }

    /* Eclipses */
    body img.eclipse#a {
        position: absolute;
        width: 120vh;
        top: -40vh;
        left: -50vh;
        filter: drop-shadow( 0 0 15px rgba(0, 0, 0, .3));
    } body img.eclipse#b {
        position: absolute;
        width: 150vh;
        top: 10vh;
        right: -50vh;
        filter: drop-shadow( 0 0 15px rgba(0, 0, 0, .3));
    } body img.eclipse#z {
        display: none;
    }

    /* Intro */
    section.intro {
        width: 60vw;
        height: 85vh;
        margin-bottom: 5vh;
    } section.intro h1 {
        font-size: 72px;
        padding-top: 0;
    } section.intro #full {
        display: block;
    } section.intro #short {
        display: none;
    }  section.intro #medium {
        display: none;
    }

    /* Default Section */
    section.default {
        width: 60vw;
    }
}